<!-- Header Start -->
<header class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- header Nav Start -->
                <nav class="navbar navbar-expand-lg">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
                        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-fluid">
                    </a>
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                        data-target="#navigation">&#x2630;
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item"><a href="{{ .Site.BaseURL | absLangURL }}"
                                    class="nav-link">{{ .Site.Params.home }}</a>
                                {{ range .Site.Menus.main }}
                                {{ if .HasChildren }}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ .Name }}
                                    <span class="ion-ios-arrow-down"></span>
                                </a>
                                <ul class="dropdown-menu" >{{ range .Children }}
                                    <li class="dropdown-item"><a href="{{ .URL | absLangURL }}">{{ .Name }}</a> </li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ else }}
                            <li class="nav-item">
                                <a href="{{ .URL | absLangURL }}" class="nav-link">{{ .Name }}</a>
                            </li>
                            {{ end }}
                            {{ end }}

                            <!-- Language List -->
                            {{- if .Site.IsMultiLingual }}
                            <li class="nav-item">
                                <select id="select-language" onchange="location = this.value;">
                                    {{ $siteLanguages := .Site.Languages}}
                                    {{ $pageLang := .Page.Lang}}
                                    {{ range .Page.AllTranslations }}
                                    {{ $translation := .}}
                                    {{ range $siteLanguages }}
                                    {{ if eq $translation.Lang .Lang }}
                                    {{ $selected := false }}
                                    {{ if eq $pageLang .Lang}}
                                    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}"
                                        selected>
                                        {{ .LanguageName }}
                                    </option>
                                    {{ else }}
                                    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">
                                        {{ .LanguageName }}
                                    </option>
                                    {{ end }}
                                    {{ end }}
                                    {{ end }}
                                    {{ end }}
                                </select>
                            </li>
                            {{ end }}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
</header><!-- header close -->